<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fkhwl.scf.dao.FlowNodeTypeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="FlowNodeTypeResultMap" type="com.fkhwl.scf.entity.po.FlowNodeType">
        <result column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="amount" property="amount"/>
        <result column="remark" property="remark"/>
    </resultMap>


</mapper>
