<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fkhwl.scf.dao.WaybillCheckRecordDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="WaybillCheckRecordResultMap" type="com.fkhwl.scf.entity.po.WaybillCheckRecord">
        <result column="id" property="id"/>
        <result column="deleted" property="deleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="waybill_id" property="waybillId"/>
        <result column="check_user_id" property="checkUserId"/>
        <result column="check_owner_id" property="checkOwnerId"/>
        <result column="credit_apply_id" property="creditApplyId"/>
    </resultMap>

    <select id="getByWaybillId" resultType="com.fkhwl.scf.entity.dto.WaybillCheckRecordDTO">
        SELECT
          w.*
        FROM
          waybill_check_record w
        WHERE
          w.waybill_id = #{waybillId} AND w.deleted = 0
        LIMIT 1
    </select>

    <select id="countByCreditApplyId" resultType="int">
        SELECT
          count(DISTINCT w.waybill_id)
        FROM
          waybill_check_record w
        WHERE
          w.credit_apply_id = #{creditApplyId}
          AND w.deleted = 0
    </select>
</mapper>
